.text-field {
    border: 1px solid var(--grey-dark);
    background-color: var(--grey-background);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px 5px;
    width: 180px;
    height: 40px;
}