.main {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  position: fixed;
  overflow: auto;
  /* align-items: center; */
  padding: 0px 40px;
}

.header {
  z-index: 2;
  display: flex;
  height: 70px;
  width: var(--window-width);
  position: fixed;
  background-color: var(--white);
  padding-top: 30px;
}

.footer {
  z-index: 3;
  bottom: 0;
  display: flex;
  max-height: 244px;
  min-height: 200px;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  position: relative;
  background-color: var(--blue-dark);
  color: var(--white);
}

.page-content {
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 140px 50px 0px 50px;
}