.bpsim-dropdown-container {
    z-index: 1000;
}

.bpsim-dropdown-button.button {
    z-index: 1000;
    border: none;
    border-radius: 10px;
    background-color: transparent !important;
    color: black !important;
    padding: 7px 15px 10px 15px;
}

.bpsim-dropdown-button.div.dropdown-menu {
    background: transparent;
    border: none;
}

.bpsim-dropdown-button:hover {
    background-color: transparent;
    color: black;
    border: none;
}

.bpsim-dropdown-menu {
    position: absolute;
    z-index: 1000;
    margin-top: -40px;
    margin-left: -2px;
}