.sidebar {
    margin-top: 10px;
    border: 1px solid var(--grey-medium);
    width: 285px;
    border-radius: var(--border-radius);
    height: 100%;
    padding-left: 40px;
    overflow-x: scroll;
}

.sub-area-name {
    word-wrap: break-word;
}

.sidebar-second-slice {
    padding: 0px 0px 0px 22px;
}

.sidebar-third-slice {
    padding-left: 45px;
}

.sidebar-fourth-slice {
    padding-left: 70px;
    margin: 10px 0px 0px 0px;
}

.sidebar-items-slice {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 20px;
    text-wrap: nowrap;
    line-height: 1;
    width: 100%;
}