.work-field {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 550px;
    max-height: 700px;
    /* /margin-left: 50px; */
    margin: 0px;
    /* padding-left: 50px; */
}

.work-field-main {
    display: grid;
    grid-template-columns: 300px 1fr;
    font-weight: bold;
    min-height: 550px;
    max-height: 700px;
    padding-left: 10px;
}

.work-field-content {
    padding-top: 10px;
    font-size: 20px;
    align-items: center;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    gap: 10px;
}

.flow-content {
    position: relative;
    height: 400px;
    background-color: white;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    z-index: 2;
}