.items-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    height: 40px;
    background-color: var(--grey-light);
    width: 100vw;
    position: fixed;
}

.component {
    max-width: 120px;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    background-color: white;
    padding: 10px;
    text-align: center;
}