.table-container {
    border-radius: 10px !important;
    border: 1px solid var(--grey-medium-light-2);
}

.filled-cell {
    background-color: var(--grey-light) !important;
}

.table-data {
    margin: 0px auto;
    padding: 0px auto;
    text-align: center;
}

.table-add-cell {
    cursor: pointer;
}