.icon-button {
    border: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.icon-button:hover {
    opacity: var(--hover-opasity);
}

.icon-button:disabled {
    opacity: var(--hover-opasity);
}