.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
    height: 400px;
    width: 1000px;
}

.buttons-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}