.chart-background-container {
    background-color: white;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.chart-name-input {
    text-align: center;
    border: none;
}

.chart-name-input:hover,
.chart-name-input:focus-within,
.chart-name-input:active,
.chart-name-input:focus {
    outline: none;
}

.chart-name-hr {
    border: 1px solid black;
    width: 100%;
    height: 2px;
}

.chart-content {
    padding: 40px 20px 0px 20px;
    height: 240px;
    width: 550px;
    background-color: transparent;
}