.tooltip-container {
    position: relative;
    display: inline-block;
    max-width: fit-content;
}

.tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    transform: translateY(200%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-trigger:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}