.toolbar {
    display: flex;
    position: relative;
    flex-direction: row;
    width: var(--window-width);
    height: 60px;
    gap: 40px;
    margin: -30px 0px 0px 0px;
    padding-left: 50px;
    align-items: center;
}

.toolbar-item {
    cursor: pointer;
}

.toolbar-item:hover {
    opacity: var(--hover-opasity);
}

.toolbar-save-btn {
    color: var(--green);
    border: none;
    width: fit-content;
    margin: 0px;
    padding: 0px;
}

.toolbar-save-btn:hover {
    opacity: var(--hover-opasity);
    border: none;
}

.toolbar-save-btn:disabled {
    cursor: not-allowed;
    color: var(--grey-dark);
    filter: grayscale(100%);
    opacity: 1;
}

.toolbar-save-btn:disabled:hover {
    filter: grayscale(100%);
    opacity: 1;
}