.toolbar {
    display: flex;
    position: relative;
    flex-direction: row;
    width: var(--window-width);
    gap: 30px;
    margin-top: -30px;
}

.toolbar-item {
    cursor: pointer;
}

.toolbar-item:hover {
    opacity: 0.8;
}