.node-context-menu {
    top: 100%;
    float: right;
    position: fixed;
    transform: translate(120%, -60%);
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 1000;
}

.context-item {
    cursor: pointer;
    opacity: var(--hover-opasity);
    margin: 0px;
    padding: 0px;
}