.res-settings-container {
    padding: 20px;
}

.node-res-props-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0px 20px;
}

.node-res-title {
    justify-self: center;
    word-wrap: no-wrap;
}