.base-button {
    padding: 7px 20px 8px 20px;
    height: 40px;
    border: 1px solid black;
    background-color: var(--grey-light);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.base-button:hover {
    opacity: 0.8;
}