.top-nav {
    display: flex;
    flex-direction: row;
    width: var(--window-width);
    gap: 20px;
}

.bpsim {
    font-size: 30px;
    cursor: pointer;
}

.system {
    width: 250px;
    overflow-wrap: break-word;
    padding: 5px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
}

.bpsim:hover,
.system:hover {
    opacity: 0.8;
}