.top-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    height: 66px;
    color: var(--white);
    background-color: rgba(0, 61, 131, 1);
    align-items: center;
    padding: 0px 50px;
}

.bpsim {
    font-size: 30px;
    cursor: pointer;
}

.system {
    width: 250px;
    overflow-wrap: break-word;
    padding: 5px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
}

.bpsim:hover,
.system:hover {
    opacity: 0.8;
}

.bpsim-divider {
    width: 2px;
    height: 32px;
    background-color: white;
    border: 1px solid white;
    margin: 0px;
    padding: 0px;
}